body{
    margin: 0;
    text-align: center ;
    font-family: Sacramento, sans-serif;
    font-size: 3.625rem;
    background-color: #e1fff9 ;
    
}

h1{
    margin: 50px  auto 0 auto;
    font-family: Sacramento, sans-serif;    
    color: #3c9c9c;
    font-weight: normal;
    
    
}

h2 {
    margin: 0 auto 0 auto;
    font-family: Sacramento, sans-serif;
    font-size: 60px;
    color: #3c9c9c;
    font-weight: normal;
}

h3 {
    font-family: Montserrat, sans-serif;
    color: #11999e;
}

hr{
    border: dotted grey 6px;
    border-bottom: none;
    width: 4%;
}

.top-container {
    background-color: #e1fff9;
    padding-top: 100px;
}

.BottomCloud{
    position: absolute;
    left: 150px;

}

.TopCloud {
    position: absolute;
    top: 50px;
    right: 150px;
}

a {
    color: #13585a;
}

.skill-row {
    width: 60%;
    margin: 100px auto 100px auto;
    
}
 
.profile {
    font-size: 39px;
}

.fallen-leaves {
    position: absolute;
    right: 50px;
    margin: 10px auto 10px auto;
    float: left;
}



.fallen-2 {
    position: absolute;
    margin: 10px auto 10px auto;
    left: 50px;
    float: right;
}

.bottom-container {
    padding: 50px 0 50px 0;
    margin: o auto 0 auto;
    font-size: medium;
    background-color: #66bfbf;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-link {
    margin: 0 auto 0 auto;
    margin-right: 70px;
    font-size: 20px;
}

.watermark{
    color: #eaf6f6;
    margin-top: 100px;
}

.cherry1 {
    position: absolute;
    margin: 10px auto 10px auto;
    left: 50px;
    
}
.cherry2 {
    position: absolute;
    margin: 10px auto 10px auto;
    right: 50px;
}

.asmuchasI{
    font-size: 50px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.contact2 {
    margin-top: 100px;
}

.para1 {
    margin-bottom: 100px;
}

