*, *::after, *::before{
    box-sizing: border-box;
    font-family: Gotham Rounded,sans-serif;
}

body{
    background: #56bdbc;
    box-shadow: 0 8px 32px 0 rgba(93, 98, 168, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    -webkit-filter: drop-shadow(0 1em 1em rgba(226, 91, 91, 0.1));
    filter: drop-shadow(0 1em 1em rgba(226, 91, 91, 0.1));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock{
    width: 300px;
    height: 300px;
    background: rgba(129, 129, 185, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    -webkit-filter: drop-shadow(0 1em 1em rgba(226, 91, 91, 0.1));
    filter: drop-shadow(0 1em 1em rgba(226, 91, 91, 0.1));
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    -webkit-filter: drop-shadow(0 1em 1em rgba(226, 91, 91, 0.1));
    filter: drop-shadow(0 1em 1em rgba(226, 91, 91, 0.1));
    background-color: rgba(161, 165, 243, 0.9);
    box-shadow: 0 8px 32px 0 rgba(16, 20, 68, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    -webkit-filter: drop-shadow(0 1em 1em rgba(226, 91, 91, 0.1));
    filter: drop-shadow(0 1em 1em rgba(226, 91, 91, 0.1));
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
}

.clock .number{
    /* --rotation:0; */
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 1.5rem;
}

.clock .number1{--rotation:30deg;}
.clock .number2{--rotation:60deg;}
.clock .number3{--rotation:90deg;}
.clock .number4{--rotation:120deg;}
.clock .number5{--rotation:150deg;}
.clock .number6{--rotation:180deg;}
.clock .number7{--rotation:210deg;}
.clock .number8{--rotation:240deg;}
.clock .number9{--rotation:270deg;}
.clock .number10{--rotation:300deg;}
.clock .number11{--rotation:330deg;}
.clock .number12{--rotation:360deg;}



.clock .hand{
    --rotation:0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: black;
    border: 1px solid rgb(118, 117, 190);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    -webkit-filter: drop-shadow(0 1em 1em rgba(226, 91, 91, 0.1));
    filter: drop-shadow(0 1em 1em rgba(226, 91, 91, 0.1));
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
}

.clock::after{
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.clock .hand.second {
    width: 5px;
    height: 45%;
    background-color: red;
}
.clock .hand.minute {
    width: 7px;
    height: 40%;
    background-color: black;
}
.clock .hand.hour {
    width: 10px;
    height: 35%;
    background-color: black;
}