*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
    background-color: #1c1c1c;
    color: #D4D4D2;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c1c1c;
    flex-direction: column;
}
.calc{
    box-shadow: 3px 3px 13px #505050, 6px 6px 13px black;
    border-radius: 28px;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(4,66px);
}

input{
    grid-column: span 4;
    height: 68px;
    width: 258px;
    box-shadow: inset -2px -2px 1px #505050, 
    inset 6px 6px 13px black;
    border: none;
    border-radius: 32px;
    text-align: end;
    margin: 40px 0px 30px 0px;
    padding: 20px;
    font-size: 40px;

}

button{
    box-shadow: inset 2px 2px 1px #505050, 
     6px 6px 13px black;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
    background-color: #505050;
}
button:hover{
    transform: translateY(-0.5px);
}
.zero{
    width: 120px;
    border-radius: 42px;
    box-shadow: inset 2px 2px 1px #505050, 
     6px 6px 13px black;
}
.long{
    margin-left: 77px;
}
.main{
    box-shadow: inset 2px 2px 1px #D4D4D2, 
     6px 6px 13px black;
    background-color: #D4D4D2;
    color: black;
}
.special{
    background-color: #FF9500;
    box-shadow: inset 2px 2px 1px #FF9500, 
     6px 6px 13px black;
}

.copyright{
    margin-top: 80px;
    text-decoration: none;
    flex-flow: column;
    font-size: 15px;
}
a {
    text-decoration: none;
    color: #D4D4D2;
}